/*ESTILOS GENERALES*/
:root {
    --color-general-text: black;
    --color-backgroud-navbar: white;
    --color-text-navbar: black;
    /*--color-hover-navbar: #94afdd;*/

    --color-border-headers: #eee;

    --color-background-btn-success: #acc1e4;
    --color-border-btn-success: #acc1e4;
    --color-background-btn-success-hover: #94afdd;
    --color-border-btn-success-hover: #94afdd;

    --color-background-btn-delete: #ac8bef;
    --color-border-btn-delete: #ac8bef;
    --color-background-btn-delete-hover: #a37def;
    --color-border-btn-delete-hover: #a37def;

    --color-border-post: #a092ce;
    --color-name-user: black;

    --color-text-black: gray;
    --color-text-nickname: #969393;
    --color-number-stats: #4F28CC;

    --color-border-textarea: #ccc;
    --color-border-textarea-focus: #66afe9;

    --color-background: white;
    --titles: black;
    /*nuevos estilos*/
    --cuadro-textos: white;
    --cuadro-background-blue: #94afdd;

}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


html {
    width: 100%;
    height: 100%;
    font-size: 10px;
}


body {
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    color: var(--color-general-text);
    background-color: var(--color-background);
}

.layout{
    display: grid;
    grid-template-areas: 
        "nav nav " 
        "content aside";
    grid-template-rows: 60px auto auto;
    grid-template-columns: 70% 30%;
    width: 100%;
    height: 100%;
    max-height: 80rem;
    background-color: var(--color-background);
}


/*ESTILOS NAVBAR*/
.layout__navbar{
    width: 100%;
    height: 100%;
    grid-area: nav;
    background-color: var(--color-backgroud-navbar);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5.3rem;
}

.layout__navbar *{
    background-color: var(--cuadro-textos);
}

.navbar__header{
    width: 10%;
}

.navbar__title{
    width: 100%;
}

.image-header{
    margin-top: 15px;
}

.navbar__container-lists{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 1.5rem;
}

.container-lists__menu-list{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-list__link{
    padding: 1.8rem;
}

.menu-list__title, svg{
    margin-right: 1rem;
    color: var(--cuadro-background-blue);
}

.navbar__title:hover, .menu-list__link:hover,
.list-end__link:hover, .list-end__item:first-child:hover{
    background-color: var(--color-hover-navbar);
}

.container-lists__list-end{
    display: flex;
    align-items: center;
}

.list-end__item:first-child{
    padding: 0.6rem;
}

.list-end__img{
    width: 4rem;
    height: 4rem;
    border-radius: 3.2rem;
}

.list-end__link{
    padding: 1.8rem;
}



.list-end__name{
    padding: 0.5rem;
    color: var(--cuadro-background-blue);
}

/*ESTILOS DE CONTENIDO*/
.layout__content{
    grid-area: content;
    padding: 0 1.5rem;
    background-color: var(--color-background);

}

.content__login{
    margin-top: 4.5rem;
}

.content-header{
    background-color: var(--cuadro-background-blue);
}

.content__header, .aside__header{
    width: 100%;
    border-bottom: 1px solid var(--cuadro-background-blue);
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    display: block;
    flex-direction: row;
    align-items: center;
   
}


.content__title, .aside__title{
    font-size: 3.5rem;
    margin-right: 1rem;
    font-weight: 100;
    color: var(--cuadro-background-blue);
}

.aside__title2{
    display: inline-flex;
    font-size: 3.5rem;
}

.content__button{
    background-color: var(--color-background-btn-success);
    color: var(--cuadro-textos) !important;
    padding: 0.5rem 1rem;
    border: 1px solid var(--color-border-btn-success);
    border-radius: 5rem;
    font-size: 1.2rem;
    line-height: 1.5;
    cursor: pointer;
}


.content__button:hover {
    background-color: var(--cuadro-textos);
    color: var(--cuadro-background-blue) !important;
    border: 2px solid var(--cuadro-background-blue);
}


.content__posts{
    width: 100%;
}


.posts__post{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    border-radius: 5rem;
    border: 1px solid var(--cuadro-background-blue);
    background-color: var(--cuadro-background-blue);
    padding: 1.5rem;
    margin-right: 15px;
}


.post__container{
    display: flex;
    flex-direction: row;
}

.post__image-user{
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 100rem;
    margin-right: 1.5rem;
    overflow: hidden;
}

.post__user-image{
    width: 100%;
    height: 100%;
    border-radius: 3.2rem;
}

.post__user-info{
    margin-top: 1rem;
}

.user-info__name{
    color: var(--cuadro-textos);
    font-weight: bold;
}

.user-info__divider{
    color: var(--cuadro-textos);

}

.user-info__create-date{
    color: var(--cuadro-textos);
}

.post__content{
    margin: 1rem 0;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--cuadro-textos)
}
.post__content, img{
    width: 50rem;
}
.post__buttons{
    display: flex;
    align-items: center;
 
}

.post__button{
    color: var(--cuadro-textos) !important;
    padding: 1rem 1.5rem;
    font-size: 1.4rem;
    border-radius: 6rem;
    background-color: var(--color-background-btn-delete);
    border-color: var(--color-border-btn-delete);
}

.button-trash svg{
    color: var(--cuadro-textos) !important;
}

.post__button--green{
    background-color: var(--cuadro-textos);
    border-color: var(--cuadro-textos);
}

.icon-follow{
    color: var(--cuadro-background-blue);
    font-weight: bold;
    font-size: 2rem;
}

.post__button:hover svg{
    background-color: var(--cuadro-background-blue);
    color: var(--cuadro-textos);
    border-color: 2px solid var(--color-border-btn-delete-hover);
}

.post__button--green:hover{
    background-color: var(--color-background-btn-success-hover);
    border: 2px solid var(--cuadro-textos);    
    color: var(--cuadro-textos);
}

.content__container-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.content__btn-more-post{
    background-color: var(--color-background-btn-success);
    color: var(--cuadro-textos) !important;
    padding: 0.5rem 1rem;
    border: 1px solid var(--color-border-btn-success);
    border-radius: 5rem;
    font-size: 1.2rem;
    line-height: 1.5;
    cursor: pointer;
    font-size: 1.4rem;
}

.content__btn-more-post:hover{
    background-color: var(--cuadro-textos);
    color: var(--cuadro-background-blue) !important;
    padding: 0.5rem 1rem;
    border: 2px solid var(--cuadro-background-blue);
    border-radius: 5rem;
    font-size: 1.2rem;
    line-height: 1.5;
    cursor: pointer;
    font-size: 1.4rem;
}

/*ESTILOS BARRA LATERAL*/
.layout__aside{
    grid-area: aside;
    margin-right: 2rem;
    background-color: var(--color-background);
}

.aside__container{
    width: 100%;
    
}

.aside__profile-info{
    border: 1px solid var(--color-background-btn-success-hover);
    padding: 2.5rem;
    margin-bottom: 2rem;
    border-radius: 5rem;
    background-color: var(--cuadro-background-blue);
}

.profile-info__general-info{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.general-info__container-avatar{
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 100rem;
    margin-right: 1.5rem;
    
}

.container-avatar__img{
    height: 100%;
    border-radius: 5rem;
}

.container-names__name{
    color: white;
    font-size: 2.1rem;
    font-weight: bold;
}

.container-names__nickname{
    color: white;
    font-size: 1.7rem;
}

.profile-info__stats{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    border-top: 1px solid var(--color-border-headers);
}

.stats__following:first-child{
    padding-left: 0.6rem;
}

.stats__following{
    margin-top: 1rem;
    padding: 0 1.8rem;
    border-right: 2px solid var(--color-border-headers);
    text-align: center;
}



.following__title{
    display: block;
    font-weight: bold;
    color: white;
}

.following__number{
    font-weight: bold;
    color: white;
}

.following__link:hover >  .following__number{
    color: var(--color-border-post);
}


.aside__container-form{
    width: 100%;
    background-color: var(--cuadro-background-blue);
    padding: 2.5rem;
    border-radius: 5rem;
}

.container-form__form-post{
    width: 100%;
}

form{
    max-width: 300px;
}


.aside__container-form form{
    max-width: 100%;
}

.form-post__inputs, 
input[type="text"],
input[type="email"],
input[type="password"],
textarea{
    margin-bottom: 1rem;
}

.form-post__label{
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 700;
    color: var(--cuadro-textos)
}

label{
    color: var(--cuadro-background-blue);
}

.form-post__textarea,
input[type="text"],
input[type="email"],
input[type="password"],
textarea{
    display: block;
    width: 100%;
    height: auto;
    padding: 0.6rem 1.2rem;
    font-size: 14px;
    color: var( --color-text-black);
    border: 1px solid var(--color-border-textarea);
    border-radius: 5rem;
    outline: none;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    transition: all ease-in-out 150ms;
}

.form-post__textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus
textarea:focus{
    border-color: var(--color-border-textarea-focus);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}

.form-post__image{
    width: 100%;
}


.form-post__btn-submit,
input[type="submit"],
button{
    background-color: var(--cuadro-background-blue);
    color: var(--cuadro-textos) !important;
    padding: 0.5rem 1rem;
    border: 1px solid var(--color-border-btn-success);
    border-radius: 3rem;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
    font-size: 1.4rem;
}


input[type="submit"]:hover
{
    background-color: var(--cuadro-textos);
    color: var(--cuadro-background-blue) !important;
    padding: 0.5rem 1rem;
    border: 2px solid var(--cuadro-background-blue);
    border-radius: 3rem;
}

.form-post__btn-submit:hover{
    background-color: var(--cuadro-background-blue);
    border: 2px solid var(--cuadro-textos);
    color: var(--cuadro-textos) !important;
    padding: 0.5rem 1rem;
    border-radius: 3rem;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
    font-size: 1.4rem;
}

.alert{
    width: 60%;
    display: block;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 3px;
    text-align: center;
    border-radius: 5rem;
}

.alert-success{
    background: #5cb85c;
    color: white;
}

.alert-danger{
    background: #fc725de6;
    border: 1px solid #fc725de6;
    color: var(--cuadro-textos);
}

/*Rueda de carga*/
#contenedor-cargando{ 
    display: grid;
    place-content: center;
    height: 100vh;
    color: #000;
  }
  .cargando{ 
    position: relative; 
    color: #00b8de;
    margin-top: 2em;
    letter-spacing: 0.08em;
    text-transform: uppercase
  }
  
  .rueda {
    border: 10px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
    border-left-color: transparent;
    width: 80px;
    height: 80px;
    animation: giro 1s linear infinite;
  }
  
  @keyframes giro {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }